doctype html
html
  head
    title= title

    meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1')
    //bootstrap css
    link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    //bootstrap js
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    //jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    
    // general library    
    link(rel='stylesheet', type="text/css", href='/css/style.css')
    // general JS
    script(src="/js/layout.js")

    block includelib
    block includestyle
    
  body
    div(class='fluid-container')
      div(class='row')
        div(class='col-sm-2')
          block menu
        div(class='col-sm-6' style="text-align:center;")
          block content
        div(class='col-sm-4')
          block chat
                
