extends ../layout

block content
    h1 Sign Up 
    include /login/back_login

    form(action="/login/signup" method="post")
        label Username : 
        input(type="text" name="username" required placeholder="Enter you username")
        br
        label Password : 
        input(type="password" name="password" required placeholder="Enter your password")
        br
        label Email : 
        input(type="text" name="email" required placeholder= "Enter your email ")
        br
        button(class='btn-primary' type="submit") Login
        