// pug will look in the folder set up in express.static
script(src="/lib/chessjs/chess.min.js")
link(rel="stylesheet" href="/lib/chessboardjs/css/chessboard-0.3.0.min.css")
script(src="/lib/chessboardjs/js/chessboard-0.3.0.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="/js/default.js")